@model RegisterDto 
 
 <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div style="background: url(https://source.unsplash.com/K4mSJ7kc0As/600x800); background-position: center; background-size: cover;" class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form method="post" class="user">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" name="FirstName" class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="First Name">
                                        <span asp-validation-for="FirstName" class="error"></span>

                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" name="LastName" class="form-control form-control-user" id="exampleLastName"
                                            placeholder="Last Name">
                                             <span asp-validation-for="LastName" class="error"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="Email" class="form-control form-control-user" id="exampleInputEmail"
                                        placeholder="Email Address">
                                        <span asp-validation-for="Email" class="error"></span>

                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input asp-for="Password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password">
                                        <span asp-validation-for="Password" class="error"></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" name="RepeadPassword" class="form-control form-control-user"
                                            id="exampleRepeatPassword" placeholder="Repeat Password">
                                            <span asp-validation-for="RepeadPassword" class="error"></span>

                                    </div>
                                </div>
                                <input type="submit" value="Register Account" class="btn btn-primary btn-user btn-block" />
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/auth/login">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>